.header {
    font-size: 3.5vw;
    padding-bottom: 10px;
}

h2 {
    color: $darkblue;
    font-size: 2vw;
    
}

.balance-text {
    text-wrap: balance;  /* Apply (proposed) CSS style */
}

.q1 {
    padding: 0% 5%;
}

.q2 {
    padding: 0% 15%;
}

.q3 {
    padding: 0% 15%;
}

.q4 {
    padding: 0% 15%;
}

.q5 {
    padding: 0% 10%;
}

.frame {
    padding: 5% 11% 0% 11%;
}

.frame2 {
    padding: 2% 9% 0% 9%;
}


.button {
    @include questa();
    font-size: 2vw;
    padding: 0% 1%;
    border-style: double;
    border-radius: 5px;
    &:hover{
        opacity: 0.8;
        text-decoration: none;
    }
}

.yellow-button {
    background-color: $gold !important;
    color: $white !important;
    border-color: $white !important;
   
}

.white-button {
    background-color: $white;
    color: $gold;
    border-color: $gold;
    &:hover{
        color: $gold;
    }
}
