nav {
  width: 100%;
  text-align: center;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

nav a {
  font-size: 1.5vw;
  color: #A37C47;
  font-family: 'questa', sans-serif;
}

nav a:hover {
  color: #473b29;
}

nav a.active {
  color: #473b29;
}

#banner > ul {
  width: 80%;
  margin: auto;
}

ul > .row {
  width: 100%;
  margin: auto;
}

nav li {
  display: inline-block;
}

#col-left > li {
  padding: 1.5%;
}

#col-right > li {
  padding: 1.5%;
}

#banner {
  min-height: 25vh;
  width: 100%;
  background-image: url("../images/nav.png");
  background-position: center;
  background-size: 80% auto;
  background-repeat: no-repeat;
  z-index: 1000;
}

/* Multiple Layer Background */
.layer {
  background-position: top left;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 1200px;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.layer-1 {
  background-image: url("../images/L41.png");
  background-position: top center;
}

.layer-2 {
  background-image: url("../images/L52.png");
  background-position: top center;
}

.layer-3 {
  background-image: url("../images/L53.png");
  background-position: top center;
}

.layer-4 {
  background-image: url("../images/L55.png");
  background-position: bottom center;
}

.layer-5 {
  background-image: url("../images/L56.png");
  background-position: bottom center;
}

#hero, .layer {
  min-height: 800px;
}

#hero {
  height: 1200px;
  overflow: hidden;
  position: relative;
}

#hero-mobile {
  display: none;
  background: url("../images/mobile.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#intro {
  font-size: 1.6vw;
  background-color: #FFF;
  color: #FFC200;
  font-family: 'cormorant';
  text-align: center;
}

#book-display {
  height: 75vh;
  background-color: #FFF;
  background-image: url("../images/book-display.png");
  background-repeat: no-repeat;
  background-position: center 10%;
  background-size: 90% auto;
}

#book-display .container {
  position: relative;
  top: 40%;
  width: 85%;
}

#book-display .row {
  margin: 0px 0px;
}

.mt-10 {
  margin-top: 10%;
}

#book-display .row {
  position: relative;
}

.example-book {
  padding: 2%;
}

#bottom {
  height: 100px;
  background-color: #FFF;
}

.home-book:hover {
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  cursor: pointer;
}

.parallax {
  background-image: url("../images/back.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h-15 {
  height: 15vw;
}

.cloud-container {
  padding: .3%;
  margin: 1% 0%;
}

.cloud {
  border-color: #FFF;
  border-width: .5vw;
}

.cloud-top {
  padding-bottom: .3%;
  border-style: none none double none;
}

.cloud-bottom {
  padding-top: .3%;
  border-style: double none none none;
}

.text {
  background-color: #FFF;
  font-size: 1.4vw;
  color: #1cb7e2;
  font-family: 'cormorant';
  text-align: center;
  border-style: double;
  border-radius: 10px;
  border-width: .5vw;
  border-color: rgba(36, 193, 236, 0.842);
}

.text a {
  color: #A9B6FF;
  text-decoration: none;
}

.text a:hover {
  color: #FFC200;
}

.text span {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#FFF));
  background: linear-gradient(to bottom, #FFF 0%, #FFF 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  color: #A9B6FF;
  text-decoration: none;
}

.text span:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .7s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23c2cbff' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  color: #C2CBFF;
  background-repeat: repeat-x;
  background-position: center 90%;
  background-size: 1.5em;
  border-bottom: 0;
  padding-bottom: .4em;
  text-decoration: none;
}

#mailchimp input {
  width: 80%;
  text-align: center;
  margin: 1%;
}

#mailchimp div.mce_inline_error {
  width: 80%;
}

#mailchimp #mce-EMAIL {
  background-color: #e3e8ff !important;
  color: #7a7a7a !important;
}

#mailchimp div#mce-responses.clear {
  width: 80%;
  margin: 1% auto;
  border-style: double;
  border-color: #eef1ff;
  border-radius: 5px;
}

#mailchimp .mce_inline_error {
  margin-left: auto;
  margin-right: auto;
  background-color: #c2cbff !important;
  font-weight: bold;
  z-index: 1;
  color: #fff;
}

#data-blurb-bookshare-10238571 {
  min-height: 65vh;
}

#partner {
  background-image: none;
  background-color: white;
}

.boston img {
  width: 100%;
  height: 500px;
  /* overflow: hidden; */
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.stuff {
  height: 500px;
  background-color: white;
}

.card {
  margin: 20px;
}

.card-back {
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: white;
  color: gold;
  margin: 5px;
  padding: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card:hover .card-back {
  opacity: 0.9;
}

.book {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  -webkit-box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  min-width: 100px;
  overflow: hidden;
  position: relative;
  background-color: white;
}

.book:hover {
  cursor: pointer;
}

.book-header {
  color: #FFC200;
  font-family: 'cormorant';
  text-align: center;
  margin-bottom: 2%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.book .back {
  position: absolute;
  top: 200%;
  height: 100%;
  width: 100%;
  color: #FFF;
  font-family: 'questa';
  text-align: center;
  padding: 10%;
  left: 0px;
}

.book .back .book-title {
  font-size: 1.4vw;
}

.book .back .book-info {
  font-size: 1vw;
  padding-bottom: 10%;
  overflow: hidden;
  opacity: 90%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.book .back .rose-book {
  width: 60%;
  opacity: 70%;
}

.book:hover .back {
  top: 0;
}

.warning {
  font-family: 'questa';
  text-align: center;
  font-size: 2vw;
  border-style: double;
  border-radius: 5px;
  padding: 1%;
  color: #60CDEB;
  border-color: #FFC200;
}

#child-left {
  background-image: url("../images/child-left.png");
  background-position: 90% center;
  background-size: auto 50%;
  background-repeat: no-repeat;
  padding: 0px;
}

#child-right {
  background-image: url("../images/child-right.png");
  background-position: 10% center;
  background-size: auto 50%;
  background-repeat: no-repeat;
  padding: 0px;
}

#star-left {
  background-image: url("../images/star-left.png");
  background-position: 90% center;
  background-size: auto 60%;
  background-repeat: no-repeat;
  padding: 0px;
}

#star-right {
  background-image: url("../images/star-right.png");
  background-position: 10% center;
  background-size: auto 60%;
  background-repeat: no-repeat;
  padding: 0px;
}

#env-left {
  background-image: url("../images/envelope.png");
  background-position: 90% center;
  background-size: auto 40%;
  background-repeat: no-repeat;
  padding: 0px;
}

#env-right {
  background-image: url("../images/envelope.png");
  background-position: 10% center;
  background-size: auto 40%;
  background-repeat: no-repeat;
  padding: 0px;
}

#warning-left {
  background-image: url("../images/warning.png");
  background-position: 90% center;
  background-size: auto 70%;
  background-repeat: no-repeat;
  padding: 0px;
}

#warning-right {
  background-image: url("../images/warning.png");
  background-position: 10% center;
  background-size: auto 70%;
  background-repeat: no-repeat;
  padding: 0px;
}

#rose-left {
  background-image: url("../images/roses-sl.png");
  background-position: 80% center;
  background-size: auto 90%;
  background-repeat: no-repeat;
  padding: 0px;
}

#rose-right {
  background-image: url("../images/roses-sr.png");
  background-position: 20% center;
  background-size: auto 90%;
  background-repeat: no-repeat;
  padding: 0px;
}

#book-left {
  background-image: url("../images/books-left.png");
  background-position: right center;
  background-size: auto 80%;
  background-repeat: no-repeat;
  padding: 0px;
}

#book-right {
  background-image: url("../images/books-right.png");
  background-position: left center;
  background-size: auto 80%;
  background-repeat: no-repeat;
  padding: 0px;
}

.car-nav {
  padding: 10%;
}

.car-nav:hover {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  --animate-repeat: 1;
  cursor: pointer;
}

.header {
  font-size: 3.5vw;
  padding-bottom: 10px;
}

.lightblue {
  color: #60CDEB;
}

h2 {
  color: #0090B8;
  font-size: 2vw;
}

.balance-text {
  text-wrap: balance;
  /* Apply (proposed) CSS style */
}

.q1 {
  padding: 0% 5%;
}

.q2 {
  padding: 0% 15%;
}

.q3 {
  padding: 0% 15%;
}

.q4 {
  padding: 0% 15%;
}

.q5 {
  padding: 0% 10%;
}

.frame {
  padding: 2% 15% 0% 15%;
}

.frame p {
  text-align: justify;
}

.frame2 {
  padding: 2% 9% 0% 9%;
}

.button {
  font-family: 'cormorant';
  text-align: center;
  font-size: 2vw;
  padding: .1% 1% .1% 1%;
  border-style: double;
  border-radius: 5px;
}

.button:hover {
  text-decoration: none;
  -webkit-animation: tada;
          animation: tada;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  cursor: pointer;
}

.yellow-button {
  background-color: #FFC200 !important;
  color: #FFF !important;
  border-color: #FFF !important;
}

.white-button {
  background-color: #FFF;
  color: #FFC200;
  border-color: #FFC200;
}

.white-button:hover {
  color: #FFC200;
}

@font-face {
  font-family: trial;
  src: url("../fonts/LUMOS.TTF");
}

@font-face {
  font-family: 'transcend';
  src: url("../fonts/transcend-regular-webfont.woff2") format("woff2"), url("../fonts/transcend-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fnord';
  src: url("../fonts/fnord-twenty-three.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cormorant';
  src: url("../fonts/Cormorant-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'questa';
  src: url("../fonts/questa.woff2") format("woff2"), url("../fonts/questa.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

main {
  position: relative;
  min-height: 100vh;
}

footer {
  width: 100%;
  height: 10vh;
  padding: 5% 0% 15% 0%;
  background-color: white;
  font-size: 1.5vw;
  color: #FFC200;
  font-family: 'cormorant';
  text-align: center;
}

footer a {
  font-size: 2vw;
  padding: 1%;
  color: #FFC200;
  text-decoration: none;
}

footer a:hover {
  color: #FFC200;
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  cursor: pointer;
}

.icon {
  color: #cabb36;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.icon:hover {
  opacity: 0.7;
}

.is-hidden {
  -webkit-transition: top .5s ease-in-out;
  transition: top .5s ease-in-out;
  top: -30vh;
}

.is-gone {
  display: none;
}

.is-visible {
  -webkit-transition: top .5s ease-in-out;
  transition: top .5s ease-in-out;
  top: -3vh;
}

@media screen and (max-width: 960px) {
  #hero {
    display: none;
  }
  #hero-mobile {
    display: block;
    height: 70vh;
  }
  #book-display {
    height: 45vh;
  }
  #banner {
    min-height: 20vh;
  }
  .is-hidden {
    -webkit-transition: top .5s ease-in-out;
    transition: top .5s ease-in-out;
    top: -20vh;
  }
  .is-visible {
    -webkit-transition: top .5s ease-in-out;
    transition: top .5s ease-in-out;
    top: -2;
  }
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 3.5vw;
  }
  .header {
    font-size: 5vw;
  }
  #intro {
    font-size: 3vw;
  }
  nav a {
    font-size: 1.7vw;
  }
  .text {
    font-size: 2.5vw;
  }
  h2 {
    font-size: 3.5vw;
  }
  div.p-5 {
    padding: 10% !important;
  }
  div.mt-5 {
    margin-top: 10% !important;
  }
  .editors {
    padding: 0% 10%;
  }
  .book {
    min-width: 80px;
  }
  .book-title {
    font-size: 3vw;
  }
  .book-info {
    font-size: 2vw;
  }
  #data-blurb-bookshare-10238571 {
    min-height: 40vh;
  }
  #anthology-blurb-link {
    padding: 0% 10%;
  }
}

@media screen and (max-width: 500px) {
  #hero-mobile {
    display: block;
    height: 45vh;
  }
  #banner {
    min-height: 12vh;
    background-position: 50% 54%;
  }
  .is-hidden {
    -webkit-transition: top .2s ease-in-out;
    transition: top .2s ease-in-out;
    top: -12vh;
  }
  .is-visible {
    -webkit-transition: top .2s ease-in-out;
    transition: top .2s ease-in-out;
    top: -3vh;
  }
  #book-display {
    height: 26vh;
  }
  #data-blurb-bookshare-10238571 {
    min-height: 25vh;
  }
  footer {
    font-size: 3vw;
  }
  footer a {
    font-size: 3vw;
  }
}
/*# sourceMappingURL=style.css.map */