:root {
    --mainColor: #fff;
  }

.parallax {
    background-image: url("../images/back.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero, .layer {
	min-height: 800px;
}

#hero {
    height: 1200px;
    overflow: hidden;
    position: relative;
}

#hero-mobile {
	display: none;
	background: url("../images/mobile.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto; 
    height: 400px;
}

@media screen and (max-width: 768px) {
    #hero {
        display: none;
   }
    #hero-mobile {
        display: block;
   }
   #book-display {
        height: 200px !important;
   }
   #banner {
    height: 200px !important;
    top: -120px !important;
   }
}


.h-20 {
    height: 20%;
}

img {
    width: 100%;
    position: top center;
}

.cloud-container {
    padding: .3%;
    margin: 1% 0%;
}

.cloud {
    border-color: #fff;
    border-width: .5vw;
}

.cloud-top {
    padding-bottom: .3%;
    border-style: none none double none;
}

.cloud-bottom {
    padding-top: .3%;
    border-style: double none none none;
}

h2 {
    font-size: 2vw;
    color: rgb(0, 144, 184);
}


#child-left {
    background-image: url("../images/child-left.png");
    background-position: 90% center;
    background-size: auto 50%;
    background-repeat: no-repeat;
    padding: 0px;
}

#child-right {
    background-image: url("../images/child-right.png");
    background-position: 10% center;
    background-size: auto 50%;
    background-repeat: no-repeat;
    padding: 0px;
}

#star-left {
    background-image: url("../images/star-left.png");
    background-position: 90% center;
    background-size: auto 60%;
    background-repeat: no-repeat;
    padding: 0px;
}

#star-right {
    background-image: url("../images/star-right.png");
    background-position: 10% center;
    background-size: auto 60%;
    background-repeat: no-repeat;
    padding: 0px;
}

#env-left {
    background-image: url("../images/envelope.png");
    background-position: 90% center;
    background-size: auto 40%;
    background-repeat: no-repeat;
    padding: 0px;
}

#env-right {
    background-image: url("../images/envelope.png");
    background-position: 10% center;
    background-size: auto 40%;
    background-repeat: no-repeat;
    padding: 0px;
}

#warning-left {
    background-image: url("../images/warning.png");
    background-position: 90% center;
    background-size: auto 70%;
    background-repeat: no-repeat;
    padding: 0px;
}

#warning-right {
    background-image: url("../images/warning.png");
    background-position: 10% center;
    background-size: auto 70%;
    background-repeat: no-repeat;
    padding: 0px;
}

.q1 {
    padding: 0% 5%;
}

.q2 {
    padding: 0% 15%;
}

.q3 {
    padding: 0% 15%;
}

.q4 {
    padding: 0% 15%;
}

.q5 {
    padding: 0% 10%;
}

.text {
    background-color: #FFF;
    font-size: 1.3vw;
    color: #60CDEB;
    font-family: 'questa', sans-serif; 
    text-align: center;
    border-style: double;
    border-radius: 10px;
    border-color: rgba(36, 193, 236, 0.842);
    border-width: .5vw;
}

.text a {
    color: rgb(169, 182, 255);
}

.text a:hover {
    color: #FFD100;
}


.text span {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    color: #a9b6ff;
    text-decoration: none;
  }
  
  .text span:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .7s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23c2cbff' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    color: #c2cbff;
    background-position: center 90%;
    background-repeat: repeat-x;
    background-size: 80%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
  }

.q {
    padding-bottom: 5%;
}

.questions {
    top: 50%;
    left: 50%;
    padding: 5%;
}

.frame {
    padding: 5% 11% 0% 11%;
}

.frame2 {
    padding: 2% 9% 0% 9%;
}

.frame3 {
    padding: 0px;
}

.warning {
    font-family: 'questa', sans-serif; 
    text-align: center;
    font-size: 2vw;
    border-style: double;
    border-radius: 5px;
    padding: 1%;
    color: #60CDEB;
    border-color: #FFD100;
}
.is-hidden {
    opacity: 0;
    
    transition: transform 0.4s, opacity 0.2s;
}

.is-hidden2 {
    display: none;
    
    transition: transform 0.4s, opacity 0.2s;
  }

.is-visible {
    transition: transform 0.4s, opacity 0.2s;
  }

.navbar-hide {
    pointer-events: none;
    opacity: 0;
  }


nav {
    width: 100%;
    text-align: center;
    transition: background 0.4s ease-in-out;
    
}

nav a {
    font-size: 1.5vw;
    color: #A37C47;
    font-family: 'questa', sans-serif; 
}

nav a:hover {
    color: rgb(71, 59, 41);
}

nav a.active {
    color: rgb(71, 59, 41);
}

#banner>ul {
    width: 80%;
    margin: auto;
}

ul>.row{
    width: 100%;
    margin: auto;
}
nav li {
    display: inline-block;
}

#col-left>li {
    padding: 2%;
}

#col-right>li {
    padding: 1.5%;
}
#banner {
    min-height: 300px;
    width: 100%;
    background-image: url("../images/nav.png");
    background-position: center;
    background-size: 80% auto;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 1000;
    top: -75px;
}


.header {
    font-size: 3.5vw;
    padding-bottom: 10px;
}

#intro {
    background-color: #FFF;
    font-size: 1.6vw;
    color: #FFD100;
    font-family: 'questa', sans-serif; 
    text-align: center;
}

.info.child {
    padding: 3%;
}

#more {
    margin-bottom: 200px;
}

#rose-left{
    background-image: url("../images/roses-sl.png");
    background-position: 80% center;
    background-size: auto 90%;
    background-repeat: no-repeat;
}

#rose-right {
    background-image: url("../images/roses-sr.png");
    background-position: 20% center;
    background-size: auto 90%;
    background-repeat: no-repeat;

}

#book-left {
    background-image: url("../images/books-left.png");
    background-position: right center;
    background-size: auto 80%;
    background-repeat: no-repeat;
}

#book-right {
    background-image: url("../images/books-right.png");
    background-position: left center;
    background-size: auto 80%;
    background-repeat: no-repeat;
}

#book-display {
    height: 500px;
    background-color: #FFF;
    background-image: url("../images/clouds.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 90% auto;
}

#book-display>.container {
    position: relative;
    top: 35%;
    width: 85%;
    
}

.featured {
    margin-top: 10%;
}
.button {
    font-family: 'questa', sans-serif; 
    text-align: center;
    font-size: 2vw;
    padding-right: 1%;
    padding-left: 1%;
    border-style: double;
    border-radius: 5px;
}

.yellow {
    background-color: #FFD100 !important;
    color: #FFF !important;
    border-color: #FFF !important;
}

.env {
    height: 3%;
}

input {
    width: 80%;
    text-align: center;
    margin: 1%;
}

div.mce_inline_error {
    width: 80%;
}

#mce-EMAIL{
    background-color: #e3e8ff !important;
    color: #7a7a7a !important;
}
div#mce-responses.clear {
    width: 80%;
    margin: 1% auto;
    border-style: double;
    border-color: #eef1ff;
    border-radius: 5px;

}

.mce_inline_error {
    margin-left: auto;
    margin-right: auto;
    background-color: #c2cbff !important;
    font-weight: bold;
    z-index: 1;
    color: #fff;
}

.button:hover {
    opacity: 0.8;
  }

a:hover {
    text-decoration: none;
}


#white-button {
    background-color: #FFF;
    color: #FFD100;
    border-color: #FFD100;
}

#yellow-button {
    background-color: #FFD100;
    color: #FFF;
    border-color: #FFF;
}

#book-display .row {
    position: relative;
}

.example-book {
    padding: 2%;
}
#bottom {
    height: 100px;
    background-color: #FFF;
}











.layer {
  background-position: top left;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 1200px;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.layer-1 {
    background-image: url("../images/L41.png");
    background-position: top center;
}

.layer-2 {
    background-image: url("../images/L52.png");
    background-position: top center;
}

.layer-3 {
    background-image: url("../images/L53.png");
    background-position: top center;
}

.layer-4 {
    background-image: url("../images/L54.png");
    background-position: bottom center;
}










footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.685);
    color: rgb(105, 106, 112);
    text-align: center;
  }
  
  .icon {
      color: rgb(202, 187, 54);
      padding: 20px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      
    }
    
    .icon:hover {
      opacity: 0.7;
    }
    
  
  
  
    #partner {
        background-image: none;
        background-color: white;
    }
  
    .boston img {
      width: 100%;
      height: 500px;
      /* overflow: hidden; */
      object-fit: cover;
      position: absolute; right: 0; bottom: 0;
  
      clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    }
  
  .stuff{
      height: 500px;
      background-color: white;
  }
  
  .card {
      margin: 20px;
  }
  
  .card-back {
      opacity: 0;
      transition: 0.4s;
      background: white;
      color: gold;
      margin: 5px;
      padding: 10px;
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
  }
  
  .card:hover .card-back {
      opacity: 0.9;
  }
  
  .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }
  
  .main {
      font-family: 'questa';
      text-align: justify;
      width: 400px;
      color: rgb(184, 144, 37);
  }
  
  .date-container {
      text-align: center;
  }
  
  .date {
      /* margin-right: auto;
      margin-left: auto; */
      margin: 0 auto;
     
      display: inline-block;
      font-size: 200%;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */
      padding-left: 10px;
      padding-right: 10px;
  
      border: 15px solid rgb(184, 144, 37);
      border-image: url('https://i.stack.imgur.com/1WlsT.png') 34% repeat;
  }
  
  
/* body {
    background-image: url("../images/sky.jpg");
    background-color: white;
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

@font-face {
    font-family: trial;
    src: url("../fonts/LUMOS.TTF");
} 

@font-face {
    font-family: 'transcend';
    src: url('../fonts/transcend-regular-webfont.woff2') format('woff2'),
         url('../fonts/transcend-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'questa';
    src: url('../fonts/questa.woff2') format('woff2'),
         url('../fonts/questa.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
