$gold: #FFC200;
$lightblue: #60CDEB;
$blue: #1cb7e2;
$darkblue: #0090B8;
$lightlilac: #C2CBFF;
$darklilac: #A9B6FF;
$lightbrown: #A37C47;
$darkbrown: #473B29;
$white: #FFF;

@mixin questa {
    font-family: 'questa'; 
    text-align: center;
}

@mixin fnord {
    font-family: 'fnord'; 
    text-align: center;
}

@mixin cormorant {
    font-family: 'cormorant'; 
    text-align: center;
}

@import "./nav";
@import "./layers";
@import "./home";
@import "./anthology";
@import "./partnerships";
@import "./books";
@import "./construction";
@import "./left-right";
@import "./text";  
@import "./fonts";  
@import "./footer";
@import "./mobile";